<main class="_widget c8f0fabe4">
    <section class="c05158eaf _prompt-box-outer c462b0585">
        <div class="c5ac3de72 c132c362f">
            <div class="c1414ece3">
                <header class="c2bb18c25 c975a42e8">
                    <div title="banbifpnuat" id="custom-prompt-logo"
                        style="width: auto !important; height: 60px !important; position: static !important; margin: auto !important; padding: 0 !important; background-color: transparent !important; background-position: center !important; background-size: contain !important; background-repeat: no-repeat !important">
                    </div>

                    <img class="c78470c63 c03cf4789" id="prompt-logo-center"
                        src="https://cdn.worldvectorlogo.com/logos/banbif-1.svg" alt="banbifpnuat">


                    <h1 class="c4a44f9dd c08fa9ae3">Verifica to identidad</h1>


                    <div class="c25bda683 c2b875fc9">
                        <p class="c1358e5ce c3507119d" id="aria-description-text">Revise su aplicación preferida para
                            códigos de un solo uso y copie el código.</p>
                    </div>
                </header>

                <div class="ce564c2b0 c4fc26e6b">



                    <form method="POST" class="c9854873e c49064abf" data-form-primary="true">
                        <input type="hidden" name="state"
                            value="hKFo2SBkZjBSaGhTbjVQRml6WTV2eFFxOXVfTExRLVR3Z0l6WaFusG1mYS1hdXRoZW50aWNhdGWjdGlk2SB5N1hQX2s5NkM4bXQ5TVMxUS1fZ2tSdE9GWFBkak95Z6NjaWTZIGk5cmowTlZ0VVpEdDdpbU91amxsTmM3SGhzVnQ4S2Vo">

                        <div class="c70526762 c90887728">
                            <div class="cbbe63456">

                                <div class="input-wrapper _input-wrapper">
                                    <div class="c6a7bf332 c8785e5e3 text c3364ff6f c452a0eec border-input-off"
                                        data-action-text="" data-alternate-action-text="">
                                        <label class="cd7843ea8 no-js c6c423b62 c6c2d595a" for="code">
                                            Código de un solo uso
                                        </label>

                                        <input class="input c4ea79246 c954c3815" name="code" id="code" type="text"
                                            value="" required="" autocomplete="off" autocapitalize="none"
                                            spellcheck="false" autofocus="">

                                        <div class="cd7843ea8 js-required c6c423b62 c6c2d595a"
                                            data-dynamic-label-for="code" aria-hidden="true">
                                            Código de un solo uso*
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>



                        <div class="cd003074f">

                            <button type="submit" name="action" value="default"
                                class="c0a486a03 c3a925026 cc4e2760d cf0fbb154 c3a009796"
                                data-action-button-primary="true">Continuar</button>

                        </div>
                    </form>



                    <div class="ulp-alternate-action center _alternate-action ">
                        <form method="POST" class="c13f5036e ulp-action-form-pick-authenticator">
                            <input type="hidden" name="state"
                                value="hKFo2SBkZjBSaGhTbjVQRml6WTV2eFFxOXVfTExRLVR3Z0l6WaFusG1mYS1hdXRoZW50aWNhdGWjdGlk2SB5N1hQX2s5NkM4bXQ5TVMxUS1fZ2tSdE9GWFBkak95Z6NjaWTZIGk5cmowTlZ0VVpEdDdpbU91amxsTmM3SGhzVnQ4S2Vo">

                            <button type="submit" name="action" aria-label="" value="pick-authenticator"
                                class="cf2834942 c88f43942 c13c6d37a">

                                <span>Probar otro método</span>

                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>


    </section>
</main>